#!/usr/bin/env bash

# Detect which `ls` flavor is in use
if ls --color > /dev/null 2>&1; then # GNU `ls`
	colorflag="--color"
else # macOS `ls`
	colorflag="-G"
fi

# aliases
alias ls='ls ${colorflag}'
alias ll='ls -alhF ${colorflag}'
alias la='ls -A ${colorflag}'
alias l='ls -CF ${colorflag}'

alias dir='dir ${colorflag}'
alias vdir='vdir ${colorflag}'

alias grep='grep --color=always'
alias fgrep='fgrep --color=always'
alias egrep='egrep --color=always'